*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1 rem = 10 px */
  /* browser default is 16px */
  /* this overwrites user zoom in abilities so is better to convert the 16px into % */
  /* divide 10(what we want to convert to) by 16(the default of the browser) = 0.625  */
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}